* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    overflow-x: hidden;
    background-color: black;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #ffcc66;
    z-index: 1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: fixed;
}

.navbarMenu {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}

.navbarItem {
    height: 80px;
}

.navbarLinkOne {
    background-color: #88ccff;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    width: 170px;
    height: 90%;
    margin-left: .5rem;
    margin-right: .5rem;
    }

.navbarLinkTwo {
    background-color: #7788ff;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    width: 170px;
    height: 90%;
    margin-left: .5rem;
    margin-right: .5rem;
    }

.navbarLinkThree {
    background-color: #33cc99;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    width: 170px;
    height: 90%;
    margin-left: .5rem;
    margin-right: .5rem;
}

.navbarLink:hover {
    color: #4455ff;
    transition: 0.3s ease;
}

.hero {
}

.heroContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    height: 90vh;
    width: 100%;
    padding: 0 50px;
    max-width: 1300px;
}

.heroContent {
    color: #ff9966;

}

.heroContent h1 {
    font-size: 2rem;
    color: #cc88ff
}

.heroContent h2 {
    margin: 2rem;
    font-size: 1.5rem;
    color: #ff2200
}

.heroContent p {
    margin: 1.5rem 0;
    font-size: 1.2rem;
    color: #ffbbaa;

}

.heroImage {
    text-align: right;
}

#heroIMG {
    width: 100%;
    height: 80%;
    object-fit: contain;
}